@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1800px;
  --min-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: balance;
}

@layer base {
  body {
    @apply bg-[#141414] text-white overflow-x-hidden relative;
  }

  input {
    @apply text-black outline-none;
  }
}

@layer components {
  .center-flex {
    @apply flex items-center justify-center;
  }

  .main-gradient {
    background-image: linear-gradient(to right, #ee0000, #ec9a00, #ffff46, #01ff01, #00e1ff, #ee05ee);
  }

  .option {
    @apply cursor-pointer duration-300 hover:text-[#07FFFF];
  }

  .search-open-animation {
    animation: openSearch 300ms forwards;
    transform-origin: center right;
  }

  .object-custom-top {
    object-position: 0% 10%;
  }

  .section-title {
    @apply absolute z-[20] left-0 top-0 font-bold tracking-wider text-lg bg-black bg-opacity-90 pl-4 pr-2 py-2 rounded-ee-lg animate-growdown origin-top md:left-[100px] md:rounded-b-lg 2xl:left-[500px] lg:text-xl border-x-2 border-b-2 border-gray-500;
  }

  /* styles for svg for curved sections */
  .wave {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 46px;
  }

  .wave .shape-fill {
    fill: #141414;
  }

  .second-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .second-wave svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 110px;
  }

  .second-wave .shape-fill {
    fill: #141414;
  }

  /* animation for search bar */
  @keyframes openSearch {
    from {
      width: 0px;
    }

    to {
      width: calc(100% - 20px);
    }
  }
}

@layer utilities {
  .no-scroll-horizontal::-webkit-scrollbar {
    @apply bg-transparent h-0;
  }
}