@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1800px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: balance;
}

@layer base {
  body {
    @apply bg-[#141414] text-white max-w-[var(--max-width)] overflow-x-hidden relative;
  }
}

@layer components {
  .center-flex {
    @apply flex items-center justify-center;
  }

  .main-gradient {
    background-image: linear-gradient(to right, rgb(238, 0, 0), rgb(236, 154, 0), rgb(255, 255, 70), rgb(1, 255, 1), rgb(0, 225, 255), rgb(238, 5, 238));
  }

  .nav-link {
    @apply cursor-pointer duration-300 hover:text-[#07FFFF];
  }

  .mobile-menu {
    animation: growDown 300ms forwards;
    transform-origin: top center;
  }

  .search-open-animation {
    animation: openSearch 300ms forwards;
    transform-origin: center right;
  }

  /* styles for svg for curved sections */
  .wave {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 150px;
  }

  .wave .shape-fill {
    fill: #141414;
  }

  /* animations */
  /* mobile menu animation */
  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }

    80% {
      transform: scaleY(1.1);
    }

    100% {
      transform: scaleY(1);
    }
  }

  /* animation for search bar */
  @keyframes openSearch {
    from {
      width: 0px;
    }

    to {
      width: calc(100% - 20px);
    }
  }
}